# Kopyalayin: cp terraform.tfvars.example terraform.tfvars
aws_region                 = "eu-central-1"
project_name               = "esp32-ztp"
provisioning_template_name = "esp32-s3-fleet-template"
telemetry_topic_prefix     = "dt"
log_retention_days         = 7
github_repo                = "ergousha/esp32-opcua-gateway-rust"
github_owner_id            = 2912014
github_repository_id       = 1302001123
